@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 54 98% 60%;
    --primary-foreground: 60 9.1% 9.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 60 9.1% 9.8%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 60 3.8% 46.1%;
    --accent: 33 100% 63%;
    --accent-foreground: 60 9.1% 9.8%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 9.8%;
    --border: 60 5.9% 90%;
    --input: 60 5.9% 90%;
    --ring: 54 98% 60%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 54 98% 60%;
    --primary-foreground: 60 9.1% 9.8%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 33 100% 63%;
    --accent-foreground: 60 9.1% 9.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 54 98% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
